# General
NAMESPACE=osat
DEBUG=True
CURRENT_UID="1000"

# Server
DATABASE_ENGINE=postgresql
SECRET_KEY="django_secret_key"
ALLOWED_HOSTS="localhost,127.0.0.1"
CORS_ALLOWED_ORIGINS="http://dashboard:3000,http://server:8000,http://server:8080,http://localhost:3000"
REST_FRAMEWORK_PAGE_SIZE="20"
LANGUAGE_CODE="en_US"
TIME_ZONE="US/Central"
STATIC_URL="/static"

# Celery
CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/0"

# NodeJS
NODE_VERSION=22

# PostgreSQL
POSTGRES_VERSION=16
POSTGRES_USER=osat
POSTGRES_PASSWORD="postgres_osat"
POSTGRES_DB=osat
POSTGRES_PORT=5432

# Redis
REDIS_VERSION=7
REDIS_USER=""
REDIS_PASSWD=""
REDIS_PORT=6379
REDIS_MEMORY_MAX="1G"
